# Google Client API variables
# Insert your real API keys for production use
GOOGLE_API_KEY="AIzaSyYourFakeApiKeyForHackathon"
GEMINI_API_KEY="YourGeminiKeyHere"
GOOGLE_CLIENT_ID="YourClientID"
GOOGLE_CLIENT_SECRET="YourClientSecret"
